    body {
    background-color: cyan;
    color: black;
    font-family: "Playfair Display", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
        }
    
    img {
    display: block; /* Necessário para margin funcionar */
    margin: 0 auto; /* Centraliza horizontalmente */
    }

    button {
    background-color: #64A712;
    color: black;
    font-family: "Playfair Display", cursive;
            }

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}