    body {
    background-color: cyan;
    color: black;
    font-family: "Playfair Display", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
        }
    
    img{
        width: 300px;
        border-radius: 10px;
    }

    button{
        padding: 10
        background-color: #64A712;
        color: black;
        font-family: "Playfair Display", cursive;px 20px;
        margin: 10px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
    }

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}