body {
    background-color: cyan;
    color: black;
    font-family: "Playwrite DE SAS", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #64A712;
    color: black;
    font-family: "Playwrite DE SAS", cursive;
}